<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>How much does a McDonald's combo meal cost around the world??</h1>
<br>
<%= link_to "Sign up to view full version with charts", signup_path, class: "btn btn-large btn-primary" %>
<br><br>
<%= link_to "Go to list of cities", cities_path, class: "btn btn-large btn-primary" %>
<h2> under laino atm
</div>
<p>
 also under laino
</p>