<h1>Listing restaurants</h1>
<table id="restaurants">
<h3>Enter keyword</h3>
<form action ="restaurants/search" method="post">
<input name = "key" type="input" />
<input value="Send" type="submit"/>
</form>
  <thead>
    <tr>
      <th>City</th>
      <th>Cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.cost %></td>
        <td><%= link_to 'Show', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
